# Arithmetic opt.

In [1]:
x = 5
y = 3

print(x + y)

8

In [2]:
x = 5
y = 3

print(x - y)

2

In [3]:
x = 5
y = 3

print(x * y)

15

In [4]:
x = 12
y = 3

print(x / y)

4.0

In [5]:
x = 5
y = 2

print(x % y)

1

In [6]:
x = 2
y = 5

print(x ** y)

32

In [7]:
x = 15
y = 2

print(x // y)

7

# Assignment opt.

In [8]:
x = 5
print(x)

5

In [9]:
x = 5
x += 3
print(x)

8

In [10]:
x = 5
x -= 3
print(x)

2

In [11]:
x = 5
x *= 3
print(x)

15

In [12]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [13]:
x = 5
x%=3
print(x)

2

In [14]:
x = 5
x//=3
print(x)

1

In [15]:
x = 5
x **= 3
print(x)

125

In [16]:
x = 5
x &= 3
print(x)

1

In [17]:
x = 5
x |= 3
print(x)

7

In [18]:
x = 5
x ^= 3
print(x)

6

In [19]:
x = 5
x >>= 3
print(x)

0

In [20]:
x = 5
x <<= 3
print(x)

40

# Comparison opt.

In [21]:
x = 5
y = 3

print(x == y)

False

In [22]:
x = 5
y = 3

print(x != y)

True

In [23]:
x = 5
y = 3

print(x > y)

True

In [24]:
x = 5
y = 3

print(x < y)

False

In [25]:
x = 5
y = 3

print(x >= y)

True

In [26]:
x = 5
y = 3

print(x <= y)

False

# Logical opt.

In [27]:
x = 5
print(x > 3 and x < 10)

True

In [28]:
x = 5
print(x > 3 or x < 4)

True

In [29]:
x = 5
print(not(x > 3 and x < 10))

False

# Identity opt.

In [30]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [31]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

# Membership opt.

In [32]:
x = ["apple", "banana"]
print("banana" in x)

True

In [33]:
x = ["apple", "banana"]
print("pineapple" not in x)

True

# If statement and Indentation

In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (Temp/ipykernel_23216/1443227691.py, line 4)

# Elif, Else, etc..

In [3]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [5]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [6]:
if a > b: print("a is greater than b")

a is greater than b

In [7]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [8]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [9]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [10]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [11]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [12]:
a = 33
b = 200

if b > a:
  pass

# Loops

In [13]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [14]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [15]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [16]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [18]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [22]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [23]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [24]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [25]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [26]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [27]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [28]:
for x in [0, 1, 2]:
  pass